.outer {
    min-height: 100vh;
}

.courses-main {
    width: 80%;
}

.search-courses {
    align-items: center;
    justify-content: center;
}

.card-img-top {
    object-fit: cover;
    height: 40vh; !important;
}

.card {
    width: 100%;
    margin-top: 1.5rem;
    max-height: 90vh;
}


.img-fluid{
    object-fit: contain;
    max-height: 40vh;
}

.page-item{
    margin-top: 1rem;
}

.page-link{
    color: #198754;
}

.form-select{
    width: 30vh;
}

.page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
}

.first-page-link{
    color: #198754;
}
