.login-outer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../pic/login_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-inner{
    background-color : rgba(255, 255, 255, 0.623);
    border-radius: 5px;
    width: 40%;
}

.copyright{
    color: rgba(255,255,255,0.8);
}