<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>edu.gorb.musicstudio.conroller.Controller</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>edu.gorb.musicstudio.conroller.ImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>edu.gorb.musicstudio.conroller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>



    <filter>
        <filter-name>ResponseCacheFilter</filter-name>
        <filter-class>edu.gorb.musicstudio.conroller.filter.ResponseCacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ResponseCacheFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>




    <filter>
        <filter-name>SessionAttributeFilter</filter-name>
        <filter-class>edu.gorb.musicstudio.conroller.filter.SessionAttributeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionAttributeFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>


    <filter>
        <filter-name>PreviousCommandFilter</filter-name>
        <filter-class>edu.gorb.musicstudio.conroller.filter.PreviousCommandFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>PreviousCommandFilter</filter-name>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/static_pages/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>PageAccessFilter</filter-name>
        <filter-class>edu.gorb.musicstudio.conroller.filter.PageAccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PageAccessFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>edu.gorb.musicstudio.conroller.listener.HttpSessionListenerImpl</listener-class>
    </listener>


    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>

    <!--    TODO uncomment-->

    <!--    <error-page>-->
    <!--        <error-code>404</error-code>-->
    <!--        <location>error_404.jsp</location>-->
    <!--    </error-page>-->

    <!--    <error-page>-->
    <!--        <exception-type>java.lang.Throwable</exception-type >-->
    <!--        <location>error_500.jsp</location>-->
    <!--    </error-page>-->

</web-app>